@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}


/*Layout*/


.Flex1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Flex2{
    display: flex;
    
}

.Flex3{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.Flex4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Flex5{
    display: flex;
    flex-direction: column-reverse
}

.Flex6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



/*page*/

#mainproductDescListDiv{
    width: 1180px;
}


#productDescRightDiv{
    background-color: #66bbff;
    width: 650px;
    height: 1000px;
    border-radius: 15px;
    overflow-y: auto;
    border: solid 3px #000;
}
#productDescRightLimitDiv{
    margin-left: 45px;
    width: 85%;
}


#productDescRightLimitDiv h2{
    color: #FFA500;
    text-shadow: #000 0.08em 0.08em 0.05em;
    margin: 10px 0px 15px 0px;
}

#productDescRightLimitDiv div img{
    height: 260px;
    width: 100%;
}

#productDescTextDiv{
    width: 100%;
}

#productListLeftDiv h2{
    color: #fff;
}

#mainDiv{
    background: url(/latera/img/background3.jpg);
    background-size: cover;
    background-position: center;
    height: 1200px;
}




/*menu*/
.headerCentralDiv{
    height: 170px;
    width: 1180px;
    
}

.headerNavDiv{
    width: 650px;
    background-color: #14161a;
    border: #343538 solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.headerNavConteinerDiv{
    height: 50px;
    width: 100%;
}

.headerNavConteinerDiv ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headerNavConteinerDiv nav{
    z-index: 10;
}

nav ul li{
    padding: 20px;
}

.botaoS{
    padding-right: 0px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#check{
    display: none;
}

#check:checked ~ ul{
    right: 0;
}

.menuTextColor{
    color: #fff;
}
  
.botaoS{
    padding-right: 0px;
}

.botao2{
    text-decoration: none;
    background-color: #ff0000;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.logoinner img{
    width: 140px;
    height: 140px;
    margin-bottom: -40px;
}

nav{
    margin-right: 20px
}

nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 30%;
    transition: all 0.5s;
}

label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0,0,0,0.5);
}


@media (min-width: 1200px){
    
    
    /*=====================Menu======================*/
    label{
        display: none;
    }
    
    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
        width: 100%;
        margin-top: 50px;
    }

    nav ul li{
        float: left;
    }

    nav ul li a{
        color: #343538
    }

    nav ul li a:hover{
        color: #c00000;
        cursor: pointer;
    }
}